  body
  {
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    background-image: url(img/bg.png);
    background-attachment: fixed;
  }
  #menu ul
  {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ff0000;
  }
  #menu li {
  float: left;
}

  #menu li a
  {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;
  }

  #menu li a:hover
  {
    background-color: #990000;
  }

  #skel
  {
    padding: 0 0;
  }

  #main, #k1, #p1
  {
    margin-left: 40px;
    margin-right: 40px;
    background-image: url(img/p.png);
    color: #C1C1C1; font-size: 30px;
    border-color: #6f6f6f;
    border-style: solid;
    padding: 0 10px;
  }
